/vendor/
node_modules/
app/storage/
.phpintel/
public/uploads/
.env
.vscode/
.idea/*
composer.lock
/storage/framework/*.key
/storage/logs/*.key
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache
*.log
.DS_Store
.env.backup
.env.production
pmpc-476217-7b27892d567f.json
/storage/app/vehiculo/*
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/data/*
/storage/framework/views/*.php
# HTML Purifier Cache
/storage/app/purifier/HTML/*
!/storage/app/purifier/HTML/.gitignore
/storage/fonts/dompdf_font_family_cache.php
/storage/fonts/*.ufm
/storage/fonts/*.afm
/storage/fonts/*.php
